html, body {
  height: 100%;
}


body {
  postion: relative;
  background: url(header.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
}

.info {
  background: #752800 !important;
}

.row-height {
  text-align: center;
}

h2 {
  background-color: #752800;
}
